<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d074aa">  <td>14/09/17 15:18:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample1.first()[pri:0, instance:com.abiquo.com.testing.Sample1@f5db507]">first</td> 
  <td>main@1166969600</td>   <td></td> </tr>
<tr bgcolor="d074aa">  <td>14/09/17 15:18:32</td>   <td>1995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample1.testRegister()[pri:0, instance:com.abiquo.com.testing.Sample1@f5db507]">testRegister</td> 
  <td>main@1166969600</td>   <td></td> </tr>
<tr bgcolor="bef3ae">  <td>14/09/17 15:18:44</td>   <td>13663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampeJava.test()[pri:0, instance:com.abiquo.com.testing.SampeJava@1fd837fe]">test</td> 
  <td>main@1166969600</td>   <td></td> </tr>
<tr bgcolor="d08ffb">  <td>14/09/17 15:18:44</td>   <td>13667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest1.testRegister()[pri:0, instance:com.abiquo.com.testing.SampleTest1@1c50c5b8]">testRegister</td> 
  <td>main@1166969600</td>   <td></td> </tr>
</table>
