<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>com.testing by packages</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7c76a">  <td>14/09/17 15:05:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampeJava.test()[pri:0, instance:com.abiquo.com.testing.SampeJava@e6c0e78]">test</td> 
  <td>main@536522213</td>   <td></td> </tr>
<tr bgcolor="86a4ce">  <td>14/09/17 15:05:30</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample1.first()[pri:0, instance:com.abiquo.com.testing.Sample1@65a8d7fd]">first</td> 
  <td>main@536522213</td>   <td></td> </tr>
<tr bgcolor="86a4ce">  <td>14/09/17 15:05:32</td>   <td>1640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Sample1.testRegister()[pri:0, instance:com.abiquo.com.testing.Sample1@65a8d7fd]">testRegister</td> 
  <td>main@536522213</td>   <td></td> </tr>
<tr bgcolor="9c6196">  <td>14/09/17 15:05:44</td>   <td>13901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SampleTest1.testRegister()[pri:0, instance:com.abiquo.com.testing.SampleTest1@65a70774]">testRegister</td> 
  <td>main@536522213</td>   <td></td> </tr>
</table>
